#container{
        
        background-color: white;
        width: 600px;
        height : 600px ;
        border: 1px solid #1e0dbd;
        display: flex;
        flex-wrap: wrap;
    
}
#userChoice {
    display: flex;
    flex-direction: column;
}
.colors {
    display: flex;
}
.shading {
    display: flex;
}